
.home{
    margin-top: 120px;
}
.home-title{
    text-align: center;
}
.category-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.category-item{

    border: 1px solid lightblue;
    box-shadow: 0px 0px 2px gray;
    margin: 20px;
    background-color: lightblue;
    color: white;
    width: 150x;
    height: 90px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 8px 15px;
}